################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataBroker/Windows/.vs
.direnv/
*.o
DataBroker/Unix/DataBroker
DataBroker/Unix/.ninja_log
