---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
IndentPPDirectives: None
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
SpaceBeforeCpp11BracedList: false
Cpp11BracedListStyle: true
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
AlignTrailingComments: false
SpacesBeforeTrailingComments: 1
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: LF
...

